<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
  欢迎来到我的博客</br>
  This is the home page for the
  <a href="http://railstutorial.org/">Rugy on Rails Tutorial</a>
  sample application.
  #Find me in app/views/static_pages/home.html.erb
</p>
